body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh; // This makes sure the body takes at least the full height of the viewport
    margin: 0; // Removes default margin
  }

  body, html {
    height: 100%;
    margin: 0;
  }
  
  .centered-content {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
  }
.image-checkbox {
        
        display: inline-block; 
        margin: 0.5rem; 
        
        input[type="checkbox"] {
          display: none; 
        }
        
        .image-display {
          width: 22rem; // Sets the width of the image
          height: 22rem; // Sets the height of the image
          background-size: cover; // Ensures the image covers the area without being stretched
          background-position: center; // Centers the background image
          display: block; // Ensures that the div behaves like a block element
          position: relative;
          overflow: hidden; // Ensures the background image does not spill out of the container
        }
        
        input[type="checkbox"]:checked + .image-display {
          outline: 2px solid blue; // Highlights the selected image
        }
      }
      
  